<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzy.quanyoumall.product.mapper.AttrGroupMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wzy.quanyoumall.product.entity.AttrGroupEntity" id="attrGroupMap">
        <result property="attrGroupId" column="attr_group_id"/>
        <result property="attrGroupName" column="attr_group_name"/>
        <result property="sort" column="sort"/>
        <result property="descript" column="descript"/>
        <result property="icon" column="icon"/>
        <result property="catelogId" column="catelog_id"/>
    </resultMap>
    <select id="getRelationByAttrGroupId" resultType="com.wzy.quanyoumall.product.entity.AttrEntity">
        select pa.*
        from pms_attr_attrgroup_relation paar
                 left join pms_attr pa on paar.attr_id = pa.attr_id
        where paar.attr_group_id = #{attrGroupId}
    </select>
    <select id="selectAllNoAttrByGroupId" resultType="com.wzy.quanyoumall.product.entity.AttrEntity">
        SELECT pa.*
        FROM pms_attr pa
          LEFT JOIN pms_attr_group pag ON pa.catelog_id = pag.catelog_id
        WHERE pag.attr_group_id = #{attrGroupId}
          and pa.attr_type = #{attrType}
          <if test="paramName != null and paramName != ''">
              and pa.attr_name = #{paramName}
          </if>
          AND pa.attr_id NOT IN (
            SELECT paar.attr_id
            FROM pms_attr_attrgroup_relation paar)
    </select>

    <resultMap id="SpuItemAttrGroupVo" type="com.wzy.quanyoumall.product.vo.SpuItemAttrGroupVo">
        <result property="groupName" column="attr_group_name"/>
        <collection property="attrs" ofType="com.wzy.quanyoumall.product.vo.Attr">
            <result property="attrId" column="attr_id"/>
            <result property="attrName" column="attr_name"/>
            <result property="attrValue" column="attr_value"/>
        </collection>
    </resultMap>
    <select id="listGetAttrGroupAndAttrBySpuId" resultMap="SpuItemAttrGroupVo">
        SELECT
            pag.attr_group_name,
            paar.attr_id,
            ppav.attr_name,
            ppav.attr_value
        FROM
            pms_attr_group pag
                LEFT JOIN pms_attr_attrgroup_relation paar ON paar.attr_group_id = pag.attr_group_id
                left join pms_product_attr_value ppav on ppav.attr_id = paar.attr_id
        WHERE
            pag.catelog_id = #{catalogId} and ppav.spu_id = #{spuId}
    </select>


</mapper>